{% extends "layout.twig" %}
{% block content %}
  {% for activity in activity %}
  <h1 class="text-center">{{ activity.name }} en Denomades</h1><br>
  <p>{{ activity.description }}</p>
  <p>Precio: ${{ activity.price }}</p>
  <hr>
  <form action="{{ 'booking/create' | url}}" method="POST">
    <div class="form-group">
      <label for="fechaReserva">Fecha Reserva</label>
      <input type="date" name="fechaReserva" id="fechaReserva" class="form-control">
    </div>
    <div class="form-group">
      <label for="cantPersonas">Cantidad de personas</label>
      <input type="number" name="cantPersonas" id="cantPersonas" class="form-control">
      <input type="hidden" name="idActivity" id="idActivity" value="{{ activity.id }}">
      <input type="hidden" name="price" id="price" value="{{ activity.price }}">
    </div>
    <div class="form-group">
      <button type="submit" class="btn btn-primary">Reservar</button>
    </div>
  </form>
  {% endfor %}
{% endblock %}